#paste_details
  %form{ :action => "#", :method => "POST" }
    %input{:type => "hidden", :id => "encryption_key"}
    %textarea#message
      Put your message here.
    %p
      %a#submit_paste{ :href => "#" }= "Submit"

  = form_for(@paste, {:html => {:id => "create_paste_form"}}) do |f|
    = f.hidden_field :burnkey, { :id => "burnkey" }
    = f.hidden_field :data, { :id => "ciphermessage" }

#status
